@import url('https://fonts.googleapis.com/css?family=Work+Sans:light');
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: white;
    background-image: url("../images/background.png")
}

#title {
    margin: 25px 0 0 0;
    padding-top: 5px;
}

#title+p {
    margin: 0;
    padding: 5px 0 10px 0;
}

h1,
p {
    font-family: 'Work Sans', 'sans-serif';
    font-weight: lighter;
    text-align: center;
    color: white;
    background-color: darkgreen;
}

form {
    margin: 25px auto;
    max-width: 700px;
    background-color: #333;
    box-shadow: 0 0 2px 0 inset;
    border-radius: 10px;
}

fieldset {
    padding: 15px;
    border: none;
}

#number {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    margin-bottom: 30px;
}

textarea,
input:not([type=checkbox]):not([type=radio]),
select {
    border: none;
    font-size: 16px !important;
    outline: none;
    color: white;
    padding: 10px;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06) inset;
    background-color: #444;
}

button {
    padding: 15px;
    color: #FFF;
    background-color: darkgreen;
    font-size: 23px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid darkgreen;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .wrapper {
        display: block;
    }
    input[type=checkbox],
    input[type=radio] {
        margin: 3px;
    }
    label:last-of-type,
    label:nth-last-of-type(2) {
        margin-top: 30px;
    }
}