<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue tracker</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <h1 class="title">Issue tracker</h1>
    <footer>
        <a href="https://github.com/selhar/freecodecamp/tree/master/beta/infosec-and-qa/issue-tracker" target="_blank">
            <span class="icon"><i class="fa fa-github"></i></span>
        </a>
        <a href="http://codepen.io/Selhar/#" target="_blank">
            <span class="icon"><i class="fa fa-codepen"></i></span>
        </a>
        <a href="https://www.freecodecamp.org/forum/u/Selhar1/summary" target="_blank">
            <span class="icon"><i class="fa fa-free-code-camp"></i></span>
        </a>
    </footer>
    <div id="main">
        <span class="step">Create a new project: <strong>POST</strong> /api/issues/project_name</span> <br>
        <span class="step">Update project: <strong>PUT</strong> /api/issues/project_name</span> <br>
        <span class="step">Fetch project: <strong>GET</strong> /api/issues/project_name</span> <br>
        <span class="step">Fetch project: <strong>DELETE</strong> /api/issues/project_name</span> 
        
        <form method="post" action="/api/issues/noid">
            <span class="step">Create a new project and an issue</span>
            <input type="text" name="title" placeholder="*Project Title">
            <input type="text" name="text" placeholder="*Text">
            <input type="text" name="author" placeholder="*Author">
            <input type="text" name="status" placeholder="Status">
            <input type="text" name="assignee" placeholder="Assignee">
            <button type="submit">Create project</button>
        </form>
        <form method="get" action="/api/issues/fetch/project">
            <span class="step">Find all issues from a project</span>
            <input type="text" name="title" placeholder="*Project name">
            <button type="submit">Fetch issues</button>
        </form>
        <form method="post" action="/api/issues/update/put">
            <span class="step">Update an existing issue</span>
            <input type="text" name="title" placeholder="*Project title">
            <input type="text" name="issue_id" placeholder="*Issue ID">
            <input type="text" name="text" placeholder="issue text">
            <input type="text" name="author" placeholder="issue author">
            <input type="text" name="status" placeholder="Status">
            <input type="text" name="assignee" placeholder="Assignee">
            <button type="submit">Create project</button>
        </form>
        <form method="get" action="/api/issues/remove/project">
            <span class="step">Delete an existing issue</span>
            <input type="text" name="title" placeholder="*Project title">
            <input type="text" name="id" placeholder="issue id">
            <button type="submit">Create project</button>
        </form>
    </div>
</body>
</html>