<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header parser</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <h1 class="title">Request header parser microservice</h1>
    <div id="main">
        <span class="step">Example input: <code>/whoami</code></span>
        <span class="step">Example output: <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code></span>
        <footer>
            <a href="https://github.com/GregoryGoncalves/freecodecamp/tree/master/apis-and-microservices/request-header-parser-microservice" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
            </a>
            <a href="http://codepen.io/Selhar/#" target="_blank">
                <span class="icon"><i class="fa fa-codepen"></i></span>
            </a>
            <a href="https://www.freecodecamp.com/gregorygoncalves" target="_blank">
                <span class="icon"><i class="fa fa-free-code-camp"></i></span>
            </a>
        </footer>
    </div>
</body>
</html>