<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise tracker</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <h1 class="title">Exercise tracker</h1>
    <div id="main">
        <span class="step">Add new user: <strong>POST</strong> <code>/api/exercise/new-user</code></span>
        <form action="/api/exercise/new-user" method="post">
            <input id="username" type="text" name="username" placeholder="Username">
            <input type="submit" value="Submit">
        </form>
        <span class="step">Add a new exercise for an existing user: <strong>POST</strong> <code>/api/exercise/add</code></span>
        <form action="/api/exercise/add" method="post">
            <input id="username" type="text" name="username" placeholder='username*'>
            <input id="description" type="text" name="description" placeholder="description*">
            <input id="duration" type="text" name="duration" placeholder="duration* (minutes)">
            <input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd, defaults to today)">
            <input type="submit" value="Submit">
        </form>
         <span class="step">Fetch an existing user's exercise log: <strong>GET</strong> <code>/api/exercise/log/username/[from]/[to]/[limit]</code>
        </br>from/to date format:(yyyy-mm-dd), [] optional</span>
        <footer>
            <a href="https://github.com/Selhar/freecodecamp/tree/master/beta/apis-and-microservices/exercise-tracker" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
            </a>
            <a href="http://codepen.io/Selhar/#" target="_blank">
                <span class="icon"><i class="fa fa-codepen"></i></span>
            </a>
            <a href="https://www.freecodecamp.org/forum/u/Selhar1/summary" target="_blank">
                <span class="icon"><i class="fa fa-free-code-camp"></i></span>
            </a>
        </footer>
    </div>
</body>
</html>
