<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File metadata</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <h1 class="title">File metadata microservice</h1>
    <div id="main">
        <p>
          Please Upload a File ...
        </p>
       <span class="step"><h4 id="output"></span>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
        <footer>
            <a href="https://github.com/Selhar/freecodecamp/tree/master/beta/apis-and-microservices/file-metadata" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
            </a>
            <a href="http://codepen.io/Selhar/#" target="_blank">
                <span class="icon"><i class="fa fa-codepen"></i></span>
            </a>
            <a href="https://www.freecodecamp.org/forum/u/Selhar1/summary" target="_blank">
                <span class="icon"><i class="fa fa-free-code-camp"></i></span>
            </a>
        </footer>
    </div>
</body>
</html>
