<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div id="main">
        <header>
            <p>You can view the source code for this project on <a href="https://github.com/GregoryGoncalves/freecodecamp/tree/master/apis-and-microservices/timestamp-microservice" target="_blank">github</a></p>
        </header>

        <h1>Create a new user:</h1>
        <p><code>POST: /api/exercise/new-user</code></p>
        <form action="/api/exercise/new-user" method="post">
            <input id="username" type="text" name="username" placeholder="You can also use this form.">
            <input type="submit" value="Submit">
        </form>

        <h1>Create a new exercise</h1>
        <p><code>POST: /api/exercise/add</code></p>
        <form action="/api/exercise/add" method="post">
            <input id="username" type="text" name="username" placeholder='username*'>
            <input id="description" type="text" name="description" placeholder="description*">
            <input id="duration" type="text" name="duration" placeholder="duration* (minutes)">
            <input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd, defaults to today)">
            <input type="submit" value="Submit">
        </form>
        <footer>
            <a href="https://github.com/GregoryGoncalves" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
            </a>
            <a href="http://codepen.io/Selhar/#" target="_blank">
                <span class="icon"><i class="fa fa-codepen"></i></span>
            </a>
            <a href="https://www.freecodecamp.com/gregorygoncalves" target="_blank">
                <span class="icon"><i class="fa fa-free-code-camp"></i></span>
            </a>
        </footer>
    </div>
</body>
</html>