<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1 class="title">URL Shortener microservice</h1>
    <div id="main">
        <span class="step">Add new address to the database: <strong>POST</strong> to <code>/api/shorturl/[your url]</code></span>
        <span class="step">Access a shortened address: <strong>GET</strong> to <code>/api/shorturl/[your url]</code></span>
        <span class="step">Delete an address from the database: <strong>DELETE</strong> to <code>/api/shorturl/[your url]</code></span>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">This is intended as an API, but you can try it out here:</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.com">
          <input type="submit" value="POST URL">
        </form>
        <footer>
            <a href="https://github.com/selhar/freecodecamp/tree/master/beta/apis-and-microservices/url-shortener-microservice" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
            </a>
            <a href="http://codepen.io/Selhar/#" target="_blank">
                <span class="icon"><i class="fa fa-codepen"></i></span>
            </a>
            <a href="https://www.freecodecamp.org/forum/u/Selhar1/summary" target="_blank">
                <span class="icon"><i class="fa fa-free-code-camp"></i></span>
            </a>
        </footer>
    </div>
</body>
</html>