<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous textboard</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/milligram.css" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <h1 class="title">Anonymous mock board project</h1>

    <footer>
        <a href="https://github.com/GregoryGoncalves" target="_blank">
            <span class="icon"><i class="fa fa-github"></i></span>
        </a>
        <a href="http://codepen.io/Selhar/#" target="_blank">
            <span class="icon"><i class="fa fa-codepen"></i></span>
        </a>
        <a href="https://www.freecodecamp.com/gregorygoncalves" target="_blank">
            <span class="icon"><i class="fa fa-free-code-camp"></i></span>
        </a>
    </footer>
    <div id="main">
        <div class="inputfield">
        <h3>Submit a new thread:</h3>
            <form method="post" action="/" name='thread'>
                <input type='text' placeholder='Subject' name='title'></textarea><br>
                <textarea rows="8" cols="120" type='text' placeholder='Text' name='text'></textarea><br>
                <input type='text' placeholder='optional password'><br>
                <input type="submit" value="Post">
            </form>
        </div>
        <div class="threadlist">
            <%data.forEach((thread) => {%>
            <div class="thread">
            <span class="thread_text"> <%=thread.text%> </span>
                <%thread.replies.forEach((reply) => {
                    let max_words = 100;
                    let temp_replies = reply.text.split(' ');
                    if(temp_replies.length > max_words){
                        temp_replies.text = temp_replies.slice(0, max_words);
                        temp_replies = temp_replies.text.join(' ');
                        temp_replies += '...';
                        reply.text = temp_replies;
                    }
                    %>
                <div class="replies">
                        <span class="text_reply"> <%=reply.text%> </span>
                        <div class="reply_controls"> 
                            <input type='text' readonly placeholder='optional password'><input type="submit" value="Delete"><input type="submit" value="Report">
                        </div>
                </div>
                <%})%>
                <div class="reply">
                    <form method="post" action="/" name='thread'>
                        <textarea rows="8" cols="120" type='text' placeholder='Text' name='text'></textarea><br>
                        <input type='text' placeholder='optional password'><br>
                        <input type="submit" value="Reply">
                    </form>
                </div>
            </div>
            <%});%>
            
            
        </div>        
    </div>
</body>
</html>